<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AppDemo02/src/uni/sistemas/view/EmpleadoView.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="uni.sistemas.view.EmpleadoView"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AppDemo02"/>
</launchConfiguration>
